html{
	background-color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}

body{
	margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}



.topNav{
	background-color: #282828;
	color: #fff;
	font-size: 18px;
	overflow: hidden;
	width: 100%;
	height: 70px;
}

.topNav_name{
	float: left;
	text-align: center;
	padding: 24px 30px;
	padding-bottom: 50%;
	text-decoration: none;
}

.welcome_name{
    float: right;
    text-align: left;
    padding: 24px 75px;
    padding-bottom: 50%;
    text-decoration: none;
}

.sideNav {
    position: absolute;
    background-color: #282828;
    color: #fff;
    font-size: 14px;
    overflow: hidden;
    width: 17%;
    height: 100%;
}

.dashboard_label{
    float: left;
    text-align: center;
    padding: 24px 30px;
    padding-bottom: 50%;
    text-decoration: none;
}

.cp_label{
    position: absolute;
    width: 188px;
    height: 28px;
    left: 300px;
    top: 92px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;

    color: #252525;
}

.cp_box{
    position: absolute;
    width: 1300px;
    height: 85%;
    left: 300px;
    top: 142px;

    background: #F0F0F0;
    border: 3px solid #F0F0F0;
    box-sizing: border-box;
    border-radius: 20px;
}

.cp_intro{
    position: absolute;
    width: 604px;
    height: 60px;
    left: 45px;
    top: 35px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24.5px;
    line-height: 35px;

    color: #000000;
}

.box{
    position: absolute;
    width: 181px;
    height: 181px;
    background: #C4C4C4;
    text-align: center;
    line-height: 150px;
}

#account{
    top: 75%;
    left: 0%;
}

#messages{
    top: 75%;
   left: 35%;
}

#management{
    top: 75%;
    left: 70%;
}

#administration{
    top: 75%;
    left: 105%
}

#schedules{
    top: 75%;
    left: 140%;
}