html, body{
	background-color: #ef5858;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 100%;
	margin: 0;
}

.topNav{
	background-color: #282828;
	color: #fff;
	font-size: 18px;
	overflow: hidden;
	width: 100%;
	height: 70px;
}

.topNav_name{
	float: left;
	text-align: center;
	padding: 24px 30px;
	padding-bottom: 50%;
	text-decoration: none;
}

* {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

.login {
	position: relative;
	top: 50%;
	width: 250px;
	display: table;
	margin: -150px auto 0 auto;
	background: #fff;
	border-radius: 20px;
}
.cpTitle {
	position: relative;
	text-align: center;
	width: 100%;
	display: block;
	padding: 15px;
	color: #252525;
	font-size: 18px;
}
.input {
	position: relative;
	width: 90%;
	margin: 15px auto;
}
.input span {
	position: absolute;
	display: block;
	color: #CBCBCB;
	left: 14px;
	top: 10px;
	float: right;
	font-size: 16px;
}
.input input {
	width: 100%;
	padding: 10px 5px 10px 40px;
	display: block;
	border: 1px solid #CBCBCB;
	border-radius: 20px;
	transition: 0.2s ease-out;
	color: #CBCBCB;
}
.input input:focus {
	padding: 10px 5px 10px 10px;
	outline: 0;
	border-color: #ef5858;
}
.submit {
	height: 34px;
	width: 132px;
	display: block;
	margin: 0 auto 15px auto;
	background: #ef5858;
	color: #fff;
	font-size: 18px;
	box-shadow: 0px 0px 0px 7px #fff;
	transition: 0.2s ease-out;
}
.submit:hover,
.submit:focus {
	background: #D04646;
	color: #fff;
	outline: 0;
}
.feedback {
	position: absolute;
	bottom: -70px;
	width: 100%;
	text-align: center;
	color: #fff;
	background: #2ecc71;
	padding: 10px 0;
	font-size: 12px;
	display: none;
	opacity: 0;
}
.feedback:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #2ecc71;
	border-width: 10px;
	margin-left: -10px;
}
